<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <ion-list>
      <!-- approxItemHeight="320px" --> 
      <ion-virtual-scroll [items]="registers">
        <ion-item *virtualItem="let register;" class="ion-item-border" lines="none"  >
          <ion-thumbnail slot="start">
            <!-- <ion-img [src]="register.thumbnailUrl"></ion-img> -->
            <img-loader [src]="register.thumbnailUrl" useImg (load)="onImageLoad($event)"></img-loader>
          </ion-thumbnail>
          <ion-label text-wrap text-center class="card-title"> {{register.title}} </ion-label>
          <ion-label>{{ register.title }}</ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
</ion-content>
